<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebaseloginapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_nobg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_nobg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AccountActivity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity.WelcomeSecreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountActivity.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowActivity"
            android:label="@string/title_activity_show"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HelpActicity"
            android:label="@string/title_activity_help_acticity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SpeechActivity" />
        <activity android:name=".OCRMain" />
        <activity android:name=".OCRRecognizer" />
        <activity android:name=".OCRCropAndRotate" />
        <activity android:name=".OCRBinarization"></activity>
    </application>

</manifest>